<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="bar">
<div

        class="top-bar element-container"
        style="zIndex:35"
        th:classappend="${elementContainerSetting}"
>
    <script th:inline="javascript">

        var user = [[${user}]]

        function topBarOnBrandSelected(result){
            let url =  [[${falsehoodServiceUrl}]];
            window.location = `${url}/Article/${result.brand.id}`;
        }

        window["topbar_brands_onBrandSelected"] = topBarOnBrandSelected;


        function logout(){
            let baseUserUrl = [[${userServiceUrl}]];
            fetch(`${baseUserUrl}/Login`, {
                method: "DELETE"
            }).then(() => {
                window.location.reload();
            })
        }

        // Styles Management

        const colorList = [
            {
              colorStyle: '#d1d1d1',
              styleName: 'default'
            },{
              colorStyle: '#ff0000ff',
              styleName: 'red'
            },{
              colorStyle: 'rgb(0, 171, 255)',
              styleName: 'blue'
            },{
              colorStyle: 'rgb(8, 223, 41)',
              styleName: 'green'
            },{
              colorStyle: 'rgb(255, 239, 1)',
              styleName: 'yellow'
            },{
              colorStyle: 'rgb(255, 120, 1)',
              styleName: 'orange'
            },{
              colorStyle: 'rgb(221, 99, 255)',
              styleName: 'purple'
            },{
              colorStyle: 'rgb(255, 59, 243)',
              styleName: 'pink'
            }
          ]

        areStylesDifferent() {
            let persistButton = document.getElementById("persist-style-button");
            if(!persistButton) return;

            persistButton.disabled = elementItemSetting == elementItemSettingOrig;
        }

        onUseDarkChecked(event){
            let useDark = event.target.checked;

            // Extract current Style
            let currentStyle = elementItemSetting.split('-');
            currentStyle = currentStyle[currentStyle.length -1];

            let newItemStyle = useDark ? "element-item-dark" : "element-item";
            let newContainerStyle = useDark ? "element-container-dark" : "element-container";

            newItemStyle = `${newItemStyle}-${currentStyle}`;
            newContainerStyle = `${newContainerStyle}-${currentStyle}`;

            let elements = document.getElementsByClassName(elementItemSetting);
            for(let element of elements) {
                element.classList.remove(elementItemSetting);
                element.classList.add(newItemStyle);
            }
            elementItemSetting = newItemStyle;

            elements = document.getElementsByClassName(elementContainerSetting);
            for(let element of elements) {
                element.classList.remove(elementContainerSetting);
                element.classList.add(newContainerStyle);
            }
            elementContainerSetting = newContainerStyle;

            areStylesDifferent();
        }

        function onSetNewColorStyle(colorName){
            // Extract current Style
            let currentItemStyle = elementItemSetting.split('-');
            currentItemStyle[currentStyle.length -1] = colorName;
            currentItemStyle = currentItemStyle.join('-');

            let currentContainerStyle = elementContainerSetting.split('-');
            currentContainerStyle[currentStyle.length -1] = colorName;
            currentContainerStyle = currentContainerStyle.join('-');

            let elements = document.getElementsByClassName(elementItemSetting);
            for(let element of elements) {
                element.classList.remove(elementItemSetting);
                element.classList.add(currentItemStyle);
            }
            elementItemSetting = currentItemStyle;

            elements = document.getElementsByClassName(elementContainerSetting);
            for(let element of elements) {
                element.classList.remove(elementContainerSetting);
                element.classList.add(currentContainerStyle);
            }
            elementContainerSetting = currentContainerStyle;

            areStylesDifferent();
        }

        document.addEventListener('DOMContentLoaded', (event) => {

            let colorPanel = document.getElementById('color-panel');

            for(let color of colorList){

                let colorButton = document.createElement("div");
                colorButton.classList.add("color-button");
                colorButton.style.backgroundColor = color.colorStyle;
                colorButton.addEventListener("click", () => {
                    onSetNewColorStyle(color.styleName);
                });
                colorPanel.appendChild(colorButton);
            }

            document.getElementById("style-dark-checkbox").checked = elementContainerSetting.includes("dark");

        });

        updateStyle(e) {

            e.target.disabled = true;

            let currentStyle = elementItemSetting.split('-');
            currentStyle = currentStyle[currentStyle.length -1];

            let body = {
                style: currentStyle,
                useDark: elementItemSetting.includes("dark")
            }

            let baseUserUrl = [[${userServiceUrl}]];
            fetch(`${baseUserUrl}/accounts/styles`, {
                method: "PATCH",
                body: JSON.stringify(body),
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(() => {
                elementItemSettingOrig = elementItemSetting;
                elementContainerSettingOrig = elementContainerSetting;
            })
        }

    </script>

    <div class="top-bar-child">
        <div class="logo-section">
            <img src="images/Falsehood-icon-Desktop.png">
        </div>

        <div class="nav-section" id="search-holder" hidden>
            <div th:replace="~{fragments/brand-searcher :: brandSearcher('topbar_brands')}"></div>
            <button class="btn btn-danger" style="width: 50px" id="set-search-off"></button>
        </div>

        <div class="nav-section" id="nav-holder">

            <li
                    class="nav-item"
                    style="padding-left:5px;"
            >
                <img src="images/Welcome-icon.png">
                <a class="nav-link" href="Welcome">Welcome</a>
            </li>
            <li
                    class="nav-item"
                    style="padding-left:5px;"
            >
                <img src="images/Falsehood-icon-mob.png">
                <a class="nav-link">Falsehoods</a>
            </li>
            <li
                    class="nav-item"
                    style="padding-left:5px;"
            >
<!--                <img th:src="@{/images/Factcheck-logo-mob.png}">-->
<!--                <a class="nav-link" >Factchecks</a>-->
            </li>

            <li th:if="${isResourceEmployee}">
                <a class="btn btn-primary nav-item" style="height: 100%" href="ArticleEdit">Create Article</a>
            </li>

            <li>
                <button id="set-search-on" class="btn btn-primary" style="height: 100%">Search Brands</button>
            </li>

        </div>

<!--        <div style="padding: 5px;">-->
<!--            <ng-content></ng-content>-->
<!--        </div>-->

<!--        <div class="icon-section">-->
<!--            @for (navOption of navOptions | navPipe:OPTION_DESKTOP:OPTION_DESK_NO_MOB; track navOption) {-->
<!--            <div class="icon-holder"  [ngClass]="iconClass"-->
<!--                 (click)="onIconClick(navOption)"-->
<!--                 (mouseenter)="onIconHover(navOption, true)"-->
<!--                 (mouseleave)="onIconHover(navOption, false)"-->
<!--            >-->
<!--                @if(navOption.notifyCount){-->
<!--                <div class="notification-counter" appElementItem>-->
<!--                    <p>{{ navOption.notifyCount }}</p>-->
<!--                </div>-->
<!--                }-->
<!--                <img [src]="getImage(navOption)">-->
<!--            </div>-->
<!--            }-->
<!--        </div>-->

        <div
            th:if="${list != null}"
            class="profile-section"

        >
            <div class="profile-img">
                <img th:src="${profilePic}">
            </div>
            <div class="profile-name" th:text="${list.mainAccount.getDisplayName}">

            </div>
        </div>


        <div th:class="${elementContainerSetting} + ' profile-panel element-container'"
             hidden
        >
            <div>
                <div
                    th:class="${elementItemSetting} + ' element-item'"
                    onclick="showPopup('stylesPopup')"
                >
                    <p>Set Style</p>
                </div>
                <hr>
                <div
                        th:class="${elementItemSetting} + ' element-item'"
                        onclick="logout()"
                >
                    <p>Logout</p>
                </div>
            </div>
        </div>

        <a
            th:if="${list == null}"
            href="Login"
        >
            <button class="btn btn-primary desktop-login" style="height: 100%">Log in</button>
        </a>


    </div>

<!--    @if (authService.hasActiveTokens() && items.length) {-->
<!--    <div #profilePanel-->
<!--         class="profile-panel"-->
<!--         appElementContainer-->
<!--         hidden-->
<!--    >-->
<!--        @for (itemGroup of items; track itemGroup; let i = $index) {-->
<!--        <div-->
<!--        >-->
<!--            @if (i != 0) {-->
<!--            <hr>-->
<!--            }-->
<!--            @for (item of itemGroup.itemList | navProfile; track item) {-->
<!--            <div-->
<!--                    appElementItem-->
<!--                    (click)="onProfileItemClicked.emit(item.item)"-->
<!--            >-->
<!--                <p>{{ item.displayItem }}</p>-->
<!--            </div>-->
<!--            }-->
<!--        </div>-->
<!--        }-->
<!--    </div>-->
<!--    }-->

<!--    @if (authService.ownedAccounts?.length) {-->
<!--    <div #brandPanel-->
<!--         class="profile-panel"-->
<!--         appElementContainer-->
<!--         hidden-->
<!--    >-->
<!--        @for (brand of authService.ownedAccounts; track brand) {-->
<!--        <div appElementItem class="brand-container">-->
<!--            <div class="brand-left-side">-->
<!--                <img [src]="basicImageUrl + formatBrandId(brand.id || '')" (error)="imageError($event)">-->
<!--            </div>-->
<!--            <div class="brand-right-side">-->
<!--                <p style="text-align: center;">{{ brand.name }}</p>-->
<!--                <div class="brand-right-buttons">-->
<!--                    <div class="brand-right-button" appElementItem>-->
<!--                        <a [href]="baseUserUrl + '/brands'" target="_blank">-->
<!--                            <div style="border: 1px rgba(128, 128, 128, 0.4) solid;" >-->
<!--                                View Brand-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="brand-right-button" appElementItem >-->
<!--                        <div style="border: 1px rgba(128, 128, 128, 0.4) solid;" (click)="loginAsBrand(brand.id)">-->
<!--                            {{ authService.tcBrand?.id == brand.id ? 'Active Brand' : 'Assume Brand'}}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        }-->
<!--    </div>-->
<!--    }-->

</div>



<div
        class="bottom-bar element-container" style="zIndex:35" th:classappend="${elementContainerSetting}">

    <div class="bottom-bar-holder">
        <img src="images/Welcome-icon.png">
    </div>
    <div class="bottom-bar-holder">
        <img src="images/Falsehood-icon-mob.png">
    </div>
    <div class="bottom-bar-holder">
        <img src="images/Factcheck-logo-mob.png">
    </div>


    <div
            th:if="${user != null}"
            class="bottom-bar-holder"
            style="border-radius: 50%; overflow: hidden;"
    >
        <img th:src="${profilePic}">
<!--        <div [ngClass]="divLineClass"></div>-->
    </div>


    <div
            th:if="${user == null}"
            class="bottom-bar-holder"
    >
        <img src="images/non-profile-mob.png" alt="Login">
    </div>


</div>

    <div th:replace="~{fragments/popup :: popup('stylesPopup', 50, 'Set Style', ~{::styleBody})}">
        <div class="color-panel" id="color-panel">

        </div>
        <div class="form-group">
            <input
                    id="style-dark-checkbox"
                    type="checkbox"
                    class="form-check-input"
                    onchange="onUseDarkChecked(event)"
            >
            <label class="form-check-label">Use Dark mode</label>
            <div th:class="${elementItemSetting} + ' element-item'" style="height: 10px"></div>

            <button th:if="${user != null}" id="persist-style-button" disabled class="btn btn-primary" onclick="updateStyle()"> Persist Style</button>

        </div>
    </div>

    <script>
        const brandOnButton = document.getElementById("set-search-on");
        const brandOffButton = document.getElementById("set-search-off");
        const searchHolder = document.getElementById("search-holder");
        const navHolder = document.getElementById("nav-holder");

        brandOnButton.addEventListener("click", () => {
            searchHolder.hidden = false;
            navHolder.hidden = true;
        });

        brandOffButton.addEventListener("click", () => {
            searchHolder.hidden = true;
            navHolder.hidden = false;
        });


    </script>

</div>

</body>
</html>