<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="en"
>
<head>
    <title>Falsehoods Welcome</title>
    <base th:href="${baseUrl}" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous">

    <link href="styles/falsehood-styles.css" rel="stylesheet" />
    <link href="styles/nav-bar.css" rel="stylesheet" />
    <link href="styles/tc-styles.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
</head>

<body>

    <div th:replace="~{fragments/topbar :: bar}"></div>
    <div style="height:50px"></div>

    <div style="padding-top: 10px;" th:class="${elementContainerSetting + ' container element-container'}">
        <div th:class="${elementItemSetting + ' element-item form-group'}">
            <label for="brand-name-field">Name</label>
            <input id="brand-name-field" class="form-control" type="text">
        </div>
        <div th:class="${elementItemSetting + ' element-item'}">
            <div class="form-group">
                <label for="rs-type-selector">Resource Types</label>
                <select id="rs-type-selector" class="form-select">
                </select>
            </div>
            <div class="form-group" >
                <label>Current Types</label>
                <div th:class="${elementContainerSetting + ' type-container element-container'}" id="rs-type-holder"></div>
            </div>
        </div>
        <div th:class="${elementItemSetting + ' element-item'}">
            <div class="rs-image-button-holder">
                <input
                        class="btn btn-info"
                        type="file"
                        accept="image/png, image/gif, image/jpeg, image/webp, image/svg"
                        id="image-input">

                <button id="remove-image-button" class="btn btn-danger">Remove Image</button>

            </div>
            <div class="rs-metadata-container-edit">
                <div class="rs-image-container-edit">
                    <div class="rs-image-holder-edit">
                        <img id="rs-image" alt="brand image" src="">
                    </div>
                    <div class="rs-image-desc-holder">
                        <label for="profile-desc-edit">Profile Description</label>
                        <textarea class="form-control" id="profile-desc-edit"></textarea>
                    </div>
                </div>
                <div class="rs-table-holder-edit">
                    <table id="metadata-table">

                    </table>
                </div>
            </div>
        </div>
        <hr>
        <div th:class="${elementItemSetting + ' element-item'}">
            <div th:replace="~{fragments/markdown-editor :: markdownEditor('contentEditor', brandContent.content)}"></div>
        </div>
        <div style="display: flex;flex-direction: row;justify-content: center; align-items: center;">
            <button class="btn btn-primary" id="submit-button">Submit Resource</button>
        </div>
    </div>


    <script th:inline="javascript">
        var brandContent = [[${brandContent}]]
        var brandMetadata = [[${metadata}]]

        var itemStyle = [[${elementItemSetting}]]

        var falsehoodServiceUrl = [[${falsehoodServiceUrl}]]

        var resourceTypes = [
            "PUBLIC_FIGURE",
            "ARTIST",
            "MUSICIAN",
            "ACTOR",
            "POLITICIAN",
            "MEDIA_OUTLET",
            "STUDIO",
            "SHOW",
            "REGION",
            "INSTITUTION",
            "SCHOOL",
            "COLLEGE",
            "ORGANIZATION",
            "CONCEPT",
            "LITERATURE",
            "BOOK",
            "FILM",
            "TAXONOMY",
            "ART",
            "BRAND",
            "DRAWING",
            "PAINTING",
            "SCULPTURE",
            "SONG",
            "SPECIES",
            "ANIMAL",
            "PLANT",
            "FOOD",
            "CONTINENT",
            "COUNTRY",
            "BIOME",
            "DEVICE",
            "MACHINE",
            "LANGUAGE",
            "RESTAURANT",
            "GAME",
            "BOARD_GAME",
            "SPORT",
            "CARD_GAME",
            "VIDEO_GAME",
            "APP"
        ];

        var permittedFileTypes = [
            "gif",
            "jpeg",
            "png",
            "svg",
            "webp"];

        var availableTypes = [];

        var resourceType = undefined;

        var typeHolderElement = document.getElementById("rs-type-holder");

        function recalibrateTypes() {
            availableTypes = resourceTypes.filter((t) => {
                return !brandMetadata.resourceTypes.includes(t);
            });


        }

        function toTitleCase(str) {
            return str
                .toLowerCase() // Normalize the string to lowercase first
                .split(' ')    // Split into an array of words
                .map(word => word.charAt(0).toUpperCase() + word.slice(1)) // Capitalize each word
                .join(' ');    // Rejoin the words with spaces
        }

        function recalibrateTypeSelect(selectElement){
            selectElement.options.length = 0;

            let o = document.createElement("option");
            o.value = "";
            o.innerHTML = "(No Type)";
            o.selected = true;
            selectElement.appendChild(o);

            for(let t of availableTypes){
                o = document.createElement("option");
                o.value = t;
                o.innerHTML = toTitleCase(t);
                o.selected = false;
                selectElement.appendChild(o);
            }


            typeHolderElement.replaceChildren();
            for(let t of brandMetadata.resourceTypes) {
                let item = document.createElement("div");
                item.classList.add("element-item");
                item.classList.add(itemStyle);
                item.classList.add("resource-cur-sel");

                let name = document.createElement("p");
                name.innerHTML = t;
                item.appendChild(name);

                let exit = document.createElement("div");
                exit.classList.add("exit-div");
                name = document.createElement("p");
                name.innerHTML = "X";
                exit.appendChild(name);
                item.appendChild(exit);

                typeHolderElement(item);


                exit.addEventListener("click", (e) => {

                    brandMetadata.resourceTypes = brandMetaData.resourceTypes.filter((entry) => {
                        return entry != t;
                    });

                    recalibrateTypes();
                    recalibrateTypeSelect(selectElement);

                });
            }
        }

        function selectImage(event) {

            let selectedFile = event.target.files[0]
            if(!selectedFile)return;

            let t = selectedFile.type.toLowerCase().trim();

            let selectedFileType = "";

            for(let possibleType of permittedFileTypes) {
                if(t == `image/${possibleType}`)
                {
                    selectedFileType = possibleType;
                    break;
                }
            }

            selectedFile.arrayBuffer().then((value) => {
                let buffer = new Uint8Array(value);

                const STRING_CHAR = buffer.reduce((data, byte)=> {return data + String.fromCharCode(byte);}, '');

                let data = btoa(STRING_CHAR);

                let selectedImage = `data:image/${selectedFileType};base64,${data}`;

                brandContent.imageData = selectedImage;

                document.getElementById("rs-image").src = selectedImage;
            });

        }

        function recalibrateMetadata() {

            let metadataTable = document.getElementById("metadata-table");

            metadataTable.replaceChildren();

            let metadata = brandContent.metadata;

            for (const [key, value] of Object.entries(metadata)) {
                let row = document.createElement("tr");
                let d1 = document.createElement("td");      // Simply holds the Field Name
                let d2 = document.createElement("td");      // Holds the input to edit the field content
                let d3 = document.createElement("td");      // holds the button to remove the field

                d1.textContent = key;

                let d2Input = document.createElement("input");
                d2Input.classList.add("form-control");
                d2Input.addEventListener("change", (e) => {
                    metadata[key] = e.target.value;
                });
                d2.appendChild(d2Input);

                let d3Button = document.createElement("button");
                d3Button.classList.add("btn");
                d3Button.classList.add("btn-danger");
                d3Button.addEventListener("click", (e) => {
                    Reflect.deleteProperty(metadata, key);
                    recalibrateMetadata();
                });
                d3.appendChild(d3Button);

                row.appendChild(d1);
                row.appendChild(d2);
                row.appendChild(d3);

                metadataTable.appendChild(row);
            }

            // Add a button at the bottom to add a new field
            let row = document.createElement("tr");
            let d1 = document.createElement("td");
            d1.colSpan = 3;
            let addButton = document.createElement("button");
            addButton.classList.add("btn");
            addButton.classList.add("btn-primary");
            addButton.style.width = '100%';
            addButton.addEventListener("click", () => {

                let field = input("Name of the new field:");

                metadata[key] = "";
                recalibrateMetadata();
            });

            d1.appendChild(addButton);

            metadataTable.appendChild(row);
        }

        function onSubmit() {

            let postObject = {
                content: brandContent,
                metadata: brandMetadata
            };

            postObject.content.content = window['contentEditor_content'] || postObject.content.content;

            fetch(`${falsehoodServiceUrl}/brands-update-api`, {
                method: "POST",
                body: JSON.stringify(postObject),
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(async (response) => {

                let responseObj = await response.json();

                let id = response.id;
                window.location = `${falsehoodServiceUrl}/brands-api/${id}`;

            }).catch(() => {alert("Failed to save object")});

        }

        document.addEventListener('DOMContentLoaded', (event) => {

            // Set up the name element
            let input = document.getElementById("brand-name-field");
            input.value = brandMetadata.names.join(";");
            input.addEventListener("input", (e) => {
                brandMetadata.names = e.target.value.split(";");
            });

            // set up the resource type section
            input = document.getElementById("rs-type-selector");
            recalibrateTypes();
            recalibrateTypeSelect(input);
            input.addEventListener("change", (e) => {

                let target = e.target;
                if(!target.value) return;

                brandMetadata.resourceTypes.push(target.value);

                recalibrateTypes();
                recalibrateTypeSelect(target);
            });

            // prepare Image Related functionality
            document.getElementById("image-input").addEventListener("change", selectImage);
            document.getElementById("remove-image-button").addEventListener("click", () => {
                brandContent.imageData = undefined;
            });

            // Image Description
            input = document.getElementById("profile-desc-edit");
            input.value = brandContent.imageDescription;
            input.addEventListener("change", (e) => {
                brandContent.imageDescription = e.target.value;
            });

            // Prep Meta data section
            recalibrateMetadata();

            // Prep Submit Button
            document.getElementById("submit-button").addEventListener("click", onSubmit);

        });
    </script>

</body>